*.iml
.gradle/
.kotlin/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties
/app/build/
/app/schemas/

# Sensitive files
id_rsa
*.pem
*.key

# Legacy Flutter artifacts
.dart_tool/
.flutter-plugins*
novel-reader/
